<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>微博-不一样的人生</title>
    <link rel="icon" href="static/public/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/public/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="static/public/css/font-awesome.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
<div id="app">
    <weibo></weibo>
</div>

<script type="text/javascript" src="static/dist/index.bundle.js"></script>
</body>
</html>
