<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>微博-享受人生</title>
    <link rel="icon" href="static/public/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="static/public/imgs/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="static/public/css/font-awesome.min.css">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
    </style>
</head>
<body>

    <div id="app">
        <u-weibo></u-weibo>
    </div>

<script type="text/javascript" src="static/dist/weibo.bundle.js"></script>
</body>
</html>